<%= form_for @changeset, @path, @opts, fn f -> %>

  <div class="form-group">
    <%= text_input(f, :title, placeholder: "Title", class: "form-control") %>
    <%= error_tag f, :title %>
  </div>

  <%= submit "Submit", class: "btn btn-primary" %>
<% end %>
