<h2>Edit a topic</h2>

<p>
  <%= link("Show Topics", to: topic_path(@conn, :index)) %>
</p>

<%= render "_topic_form.html",
  path: topic_path(@conn, :update, @topic),
  opts: [method: :patch],
  changeset: @changeset %>


