<h3>Index of topics</h3>

<p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

<table>
<%= for topic <- @topics do %>
  <tr>
    <td><%= link topic.title, to: topic_path(@conn, :show, topic.id) %></td>
    <td>
      <%= button "Edit", to: topic_path(@conn, :edit, topic.id), method: :get %>
      <%= button "Delete", to: topic_path(@conn, :delete, topic.id), method: :delete %>
    </td>
</tr>
<% end %>
</table>
