<h2>Topic</h2>

<p>
  <%= link("Show Topics", to: topic_path(@conn, :show, @topic.id)) %>
  <%= link("Edit Topic", to: topic_path(@conn, :edit, @topic.id)) %>
  <%= link("New Topic", to: topic_path(@conn, :new)) %>
</p>

<%= @topic.title  %>
